<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie/ Tv Series Information</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>

    <div class="main-container">
        <div class="content-container">
            <h1>Find Movie Information</h1>
            <form method="post">
                <label for="movie_name"><h2>Name a Movie or Tv Series :</h2></label>
                <input type="text" id="movie_name" name="movie_name" required>
                <button type="submit">Search</button>
            </form>

            {% if error %}
            <p>{{ error }}</p>
            {% else %}
                {% if movie_name %}
                <h2 class="actor-info"> Actor : {{ actor }}</h2>
                {% else %}
                <p>Name not available.</p>
                {% endif %}

                <div class="birth-date-container">
                    {% if birth_date %}
                    <h2> Birth Date: {{ birth_date }}</h2>
                    {% else %}
                    <p>Birth Date not available.</p>
                    {% endif %}
                </div>

                <div class="nationality-container">
                    {% if nationality %}
                    <h2> Nationality: {{country_name }} where the capital city is {{city}} and it has a current temperature of {{temp}} degree Celsius</h2>
                    {% else %}
                    <p>Unknown Nationality not available.</p>
                    {% endif %}

                    {% if country_flag %}
                    <img src="{{country_flag}}" alt="Country-flag">
                    {% else %}
                    <p>No flag available.</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</body>
</html>
